config.js
myenv
betterweb/venv/
betterweb/.env
betterweb/__pycache__/
betterweb/*.py[cod]
betterweb/.vscode/
betterweb/.DS_Store
betterweb/Thumbs.db
betterweb/setup-form-page/node_modules
betterweb/setup-form-page/eslint.config.js